node_modules
dist
.env
.env.local
.env.development
.env.production
*.log
logs/
.git
.gitignore
.github
coverage/
tests/
*.md
.eslintrc.js
eslint.config.mjs
.prettierrc
.prettierignore
commitlint.config.js
Makefile
docker-compose*.yml
tsconfig.prisma.json
